.container {
    width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #262626;
	padding: 50px;
	color: #fff;
	text-align: center;
}

.title {
    font-family: sans-serif;
    font-size: 28px;
    justify-self: start;
}

.container input {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

.button button{
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    background: #EE4477;
	color: #fff;
	font-family: sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
}